﻿
<h2>Crear Libro</h2>

<form action="/adminbook/create" enctype="multipart/form-data" method="post">


    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" autocomplete="off" />
        @Html.ValidationMessage("Nombre")
    </div>

    <div class="form-group">
        <label class="control-label">Autor</label>
        <select name="AutorId" class="form-control">
            <option value="">-- Selecciona autor --</option>
            @foreach (var item in ViewBag.Autores)
            {
                if (item.Id == Model.AutorId)
                {
                    <option selected value="@item.Id">@item.Nombre</option>
                }
                else
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            }
        </select>
        @Html.ValidationMessage("AutorId")

    </div>
    <div class="form-group">
        <input type="file" name="Files" multiple accept=".jpg,.png" />
    </div>

    <div class="form-group">
        <label class="control-label">Fecha de publicación</label>
        <input type="date" class="form-control" name="FechaPublicacion" value="@string.Format("{0:yyyy-MM-dd}", Model.FechaPublicacion)" autocomplete="off" />
        @Html.ValidationMessage("FechaPublicacion")
    </div>

    <div class="form-check">
        @if (Model.EstaActivo)
        {
            <input type="checkbox" checked id="EstaActivo" name="EstaActivo" value="true" class="form-check-input">
        }
        else
        {
            <input type="checkbox" id="EstaActivo" name="EstaActivo" value="true" class="form-check-input">
        }
        <label class="form-check-label" for="EstaActivo">Está activo</label>
    </div>

    <button class="btn btn-primary">Guadar</button>

</form>