﻿<input type="text" value="" />
<select id="Pais">
</select>
<select id="Ciudad">
</select>


@section Scripts {
<script>    
    var request = $.ajax({
        url: 'https://localhost:44346/home/GetPaisesHtml'
    });

    request.done(function (resp) {
        $("#Pais").html(resp);
    });

    $("#Pais").change(function () {
        var request2 = $.ajax({
            url: '/home/GetCiudadesHtml?pais=' + $('#Pais').val(),
            type: 'GET'
        });

        request2.done(function (respuesta) {
            $('#Ciudad').html(respuesta);
        });

    });



</script>
}