﻿
<form action="/auth/register" method="post">    

    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button>Guardar</button>
</form>